[Unit]
Description=Run backup-nightly every day at 00:30

[Timer]
OnCalendar=*-*-* 00:30:00
Persistent=true
Unit=backup-nightly.service

# RandomizedDelaySec=0
# Set RandomizedDelaySec to a small value (e.g. 300) in case of multiple
# orchestrators, they should not all start at the same time. 
# Single-host setups can leave it at 0.

[Install]
WantedBy=timers.target
